* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .logotipo{
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 30px;
}

header .navbar a i {
    padding-left: 8px;
    padding-right: 10px;
}

body{
    padding-bottom: 40px;
}

.container{
    width: 98%;
    margin: auto;
}

.container h1{
    font-family: 'Halant', serif;
    font-size: 80px;
    color: #0174DF;
    text-align: center;
}

.container .parent{
    text-align: center;
}

.container .libro{
    width: 500px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container .button{
    margin-bottom: 30px;

}

div .textoa{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*.inicio {
    background-color:cornflowerblue;
    padding: 20px;
    height: 100vh;
    width: 100wh;
}  */

.columns .card .card-image .image img{
    object-fit: cover;
}

.columns .card .card-content .media-content p {
    text-align: center;
}